.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo {
    display: -webkit-box;
    margin-top: -20px;
    margin-left: -90px;
max-width: 50px;
max-height: 50px;
width: auto;
height: auto;
}